<template>
  <lightning-layout onpermissionchange={handlePermissionChange}>
    <template for:each={permissions} for:item="permission">
      <lightning-layout-item key={permission.Name} padding="around-small">
        <div class="header-column">
          <p class="field-title" title={permission.Label}>{permission.Label}</p>
          <p>
            <span title="">
              <c-permission-toggle metadata={permission} record={record}>
              </c-permission-toggle>
            </span>
          </p>
        </div>
      </lightning-layout-item>
    </template>
  </lightning-layout>
</template>
