<template>
  <lightning-card title="GDPR" icon-name="standard:contact_request">
    <div class="slds-card__body slds-card__body_inner">
      <lightning-input
        type="search"
        placeholder={placeholder}
        onchange={handleKeyChange}
        label="Search"
      >
      </lightning-input>
      <template if:true={hasContacts}>
        <hr />
        <lightning-button
          variant="destructive"
          label="merge all"
          title="unifies all records"
          onclick={handleMerge}
          class="slds-m-left_x-small"
        ></lightning-button>
        <template for:each={contacts} for:item="contact">
          <c-consent-Parent
            key={contact.GdprConsent__c}
            contact-or-lead={contact}
            permissions={permissions.data}
          >
          </c-consent-Parent>
        </template>
      </template>

      <template if:true={error}> {error} </template>
    </div>
  </lightning-card>
</template>
