<template>
  <lightning-card onclick={expandHandler}>
    <h1>
      <lightning-layout vertical-align="center">
        <lightning-layout-item>
          <template if:false={isExpanded}>
            <lightning-icon icon-name="utility:open_folder"></lightning-icon>
          </template>
          <template if:true={isExpanded}>
            <lightning-icon icon-name="utility:opened_folder"></lightning-icon>
          </template>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
          <p>{contactOrLead.Name}</p>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
          <p>{contactOrLead.Email}</p>
        </lightning-layout-item>
      </lightning-layout>
    </h1>
  </lightning-card>
  <template if:true={isExpanded}>
    <c-consent-detail
      record={contactOrLead.GdprConsent__r}
      permissions={permissions}
    ></c-consent-detail>
  </template>
</template>
